<%= form_tag(search_path, method: "get") do %>
  <%= text_field_tag :name, params[:name], placeholder: "Search GitHub" %>
  <%= submit_tag("Search") %>
<% end %>

<% if @repos.present? %>
<ul>
<% @repos.each do |repo| %>
<li>
 <%= repo["name"] %> - <%= repo["description"] %>
 </li>
<% end %>
</ul>
<%= will_paginate @repos %>
<% end %>